
.arc text {
 text-anchor: middle;
 font-family: Raleway;
 font-size: 10px;
}

.arc path {
  stroke: #fff;
}

.toolTip {
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font-family: 'Raleway';
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.legend {
	font-family: 'Raleway';
    font-size: 10px;
	text-align: center; 
}

.title {
	font-family: 'Raleway';
    font-size: 22px;
	text-align: center;
    color: red;
}
