body {
      font-family: Raleway;
      color: #E8E6E6;
      fill: #E8E6E6;
    }

    #chart {
      height: 500px;
      font-size: 11px;
      width: 960px;
      margin: auto;
    }

    .node rect {
      fill-opacity: .9;
      shape-rendering: crispEdges;
    }

    .node text {
      pointer-events: none;
    }

    .link {
      fill: none;
      stroke: #FFF;
      stroke-opacity: .12;
    }

    .gradient-link {
      fill: none;
      stroke-opacity: .5;
    }

    h1 {
      font-size: 1.4rem;
    }

    text#DGTL {
      background: url(/img/DGTL-logo.jpeg) no-repeat;
      fill: url(/img/DGTL-logo.jpeg) no-repeat;
    }