p {
    text-anchor: middle;
    font-family: Raleway;
    color: #E8E6E6;
    font-size: 13px;
    padding-top: 8px;
    letter-spacing: normal;
    text-align: justify;
    line-height:2em;

}

body {
    font-family: Raleway;
    font-weight: lighter;
    font-size: 13px;
/*    stroke: #FFFFFF;
    stroke-width: 0px;
     color: #FFFFFF;
    fill: #FFFFFF;*/
    background-color: transparent;
}

.btn  {
    margin-top:35px;
    margin-bottom: 35px;
    margin-left: 100px;
    background-color: rgb(23, 139, 202);
    border-color: rgb(23, 139, 202);
}
