body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.segments {
  opacity: 0.5;
}
circle {
  stroke: #000;
  fill: none;
  stroke-width: .5px;
}
/***************************************
add different boundary at 1
***************************************/

#circle-1 {
  stroke-width: 10px;
  stroke: green;
}

