body {
  font-family: Raleway;
/*    font-size: 10px;*/
    font-weight: lighter;
  stroke: #000000;
  color: #000000;
  background-color: #ffffff;
}

/***************************************
Doughnut layout
***************************************/
#doughnut svg {
  stroke: #000000;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.segments {
  opacity: 1;
}
circle {
  stroke: #000000;
  fill: none;
  stroke-width: .5px;
}
/* add different boundary at circle 1 */

#circle-1 {
  stroke-width: 10px;
  stroke: green;
}

#circle-3 {
  stroke-width: 2px;
  stroke: #000000;
}

/***************************************
Stacked barchart layout
***************************************/
#stackedbarchart p{
  font-family: Raleway;
    font-weight: lighter;
    font-size: 10px;
  stroke: #000000;
}

.tick line{
    stroke: #000000;
}
.tick text {
    font-family: Raleway;
    font-size: 10px;
    font-weight: light;
    fill: #000000;
    stroke-width: 0px;
}

path.domain {
    stroke: #000000;
}
g.axisX {
    font-family: Raleway;
    font-size: 10px;
    stroke: #000000;
}

g.legend text{
    font-weight: light;
    font-size: 14px;
    fill: #000000;
    stroke-width: 0px;
}

#nodata {
    text-align: center;
    position: center;
    fill: #000000;
    stroke-width: 0px;
}

